.cabecalho {
  background-color: var(--cor-primaria);
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__pesquisar {
  display: flex;
  display: block;
  justify-content: flex-start;
  padding: 16px;
  width: 20%;
}

.container__pesquisar-mobile {
  display: none;
}

.pesquisar-item {
  background-color: transparent;
  border: 1px solid var(--cor-secundaria);
  color: var(--cor-secundaria);
  border-radius: 24px;
  padding: 12px;
  width: 90%;
  font-size: 16px;
}

.pesquisar-item::placeholder {
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--cor-secundaria);
  background: url(../assets/icones/Lupa.svg) no-repeat;
  background-position: 8px;
  background-size: 16px;
}
.container__imagem__lupa {
  width: 8px;
}

.container__logo {
  display: flex;
  justify-content: center;
  width: 50%;
}
.logo-jmr {
  width: 120px;
}

.container__icones {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding-right: 18px;
  width: 20%;
  align-items: center;
}

.container__imagem {
  width: 24px;
}

.opcoes {
  background-color: var(--cor-primaria);
  align-items: center;
  padding: 28px 0px 4px 0px;
}

.lista__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  padding-bottom: 18px;
}

.lista__menu-link {
  text-decoration: none;
  color: var(--cor-secundaria);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.lista__menu-link:hover {
  background-color: var(--cor-secundaria);
  color: var(--font-secundaria);
  padding: 4px;
  border-radius: 24px;
  transition: 0.5s;
}

.user_logado {
  font-size: 12px;
  font-weight: 500;
  color: var(--cor-secundaria);
  font-family: var(--fonte-principal);
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 8px 0px 4px 0px;
  }

  .container__logo {
    display: flex;
    justify-content: start;
    padding-left: 4px;
  }

  .logo-jmr {
    width: 80px;
  }

  .container__icones {
    gap: 16px;
    padding-right: 16px;
  }

  .container__pesquisar {
    display: none;
  }

  .container__pesquisar-mobile {
    display: block;
    text-align: center;
    padding-bottom: 8px;
  }

  .pesquisar-item {
    width: 90%;
    margin-top: 8px;
    padding: 8px;
  }

  .lista__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 18px;
    padding-bottom: 18px;
  }

  .lista__menu-link {
    font-weight: 600;
  }

  .user_logado {
    font-size: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .container__pesquisar {
    padding: 8px;
    width: 30%;
  }

  .pesquisar-item {
    width: 140%;
  }

  .container__logo {
    width: 70%;
  }

  .container__icones {
    gap: 18px;
    padding-right: 20px;
    width: 30%;
  }

  .lista__menu {
    gap: 60px;
  }

  .lista__menu-link {
    font-weight: 600;
    color: var(--cor-terciaria);
  }
}
