.carrossel {
  padding-top: 64px;
  padding-bottom: 24px;
}

.imagem-carrossel {
  width: 100%;
}

.swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--cor-quartenaria) !important;
  opacity: 1;
}

.texto-img1 {
  position: absolute;
  top: 20%;
  padding-left: 10%;
  font-size: 54px;
  font-family: var(--fonte-secundaria);
}

.botao-img1 {
  position: absolute;
  top: 58%;
  text-decoration: none;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-size: 14px;
  border-radius: 24px;
  width: 14%;
  padding: 12px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  left: 18%;
}

.texto-img2 {
  position: absolute;
  top: 42%;
  font-size: 48px;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
  padding-left: 10%;
  text-align: center;
}

.botao-img2 {
  position: absolute;
  top: 72%;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  font-size: 14px;
  border-radius: 24px;
  width: 14%;
  padding: 12px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  left: 42%;
}

.texto-img3 {
  position: absolute;
  top: 72%;
  font-size: 44px;
  font-family: var(--fonte-secundaria);
  padding: 0 12%;
  text-align: center;
  color: var(--cor-terciaria);
}

.botao-img3 {
  position: absolute;
  top: 86%;
  text-decoration: none;
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  font-size: 14px;
  border-radius: 24px;
  width: 14%;
  padding: 12px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  right: 22%;
}
