.imagem-carrossel {
  width: 100%;
}

.swiper-pagination {
  position: initial;
  margin: 10px 0px;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--cor-quartenaria) !important;
  opacity: 1;
}

.texto-img1 {
  position: absolute;
  top: 18%;
  padding-left: 38px;
  font-size: 54px;
  font-family: var(--fonte-secundaria);
}

.botao-img1 {
  position: absolute;
  top: 76%;
  text-decoration: none;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-size: 12px;
  border-radius: 24px;
  width: 10%;
  padding: 12px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  left: 18%;
}

.texto-img2 {
  position: absolute;
  top: 20%;
  font-size: 50px;
  font-family: var(--fonte-secundaria);
  color: var(--cor-secundaria);
  padding: 0px 34px;
  text-align: center;
}

.botao-img2 {
  position: absolute;
  top: 76%;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  font-size: 12px;
  border-radius: 24px;
  width: 10%;
  padding: 12px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  left: 68%;
}

.texto-img3 {
  position: absolute;
  top: 66%;
  font-size: 44px;
  font-family: var(--fonte-secundaria);
  padding: 0 12%;
  text-align: center;
  color: var(--cor-terciaria);
}

.botao-img3 {
  position: absolute;
  top: 86%;
  text-decoration: none;
  background-color: var(--cor-terciaria);
  color: var(--cor-secundaria);
  font-size: 12px;
  border-radius: 24px;
  width: 10%;
  padding: 12px;
  text-align: center;
  font-family: var(--fonte-secundaria);
  right: 8%;
}

@media screen and (max-width: 600px) {
  .texto-img1 {
    top: 10%;
    padding-left: 16px;
    font-size: 20px;
    font-family: var(--fonte-secundaria);
  }

  .botao-img1 {
    top: 62%;
    font-size: 8px;
    width: 18%;
    padding: 10px;
    left: 68%;
  }

  .texto-img2 {
    top: 18%;
    font-size: 16px;
    padding:0px 12px;
  }

  .botao-img2 {
    top: 68%;
    font-size: 8px;
    width: 18%;
    padding: 10px;
    left: 76%;
  }

  .texto-img3 {
    top: 46%;
    font-size: 16px;
  }

  .botao-img3 {
    top: 68%;
    font-size: 8px;
    width: 18%;
    padding: 8px;
    right: 4%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .texto-img1 {
    top: 18%;
    padding-left: 4%;
    font-size: 40px;
  }

  .botao-img1 {
    top: 72%;
    font-size: 8px;
    width: 12%;
    padding: 10px;
    left: 68%;
  }

  .texto-img2 {
    top: 22%;
    font-size: 32px;
    padding-left: 4%;
  }

  .botao-img2 {
    top: 72%;
    font-size: 8px;
    width: 12%;
    padding: 10px;
    left: 78%;
  }

  .texto-img3 {
    top: 56%;
    font-size: 32px;
  }

  .botao-img3 {
    top: 74%;
    font-size: 8px;
    width: 12%;
    padding: 10px;
    right: 6%;
  }
}
