.cabecalho {
  background-color: var(--cor-primaria);
  width: 100%;
  height: 80px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__pesquisar {
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  width: 20%;
}

.pesquisar-item {
  background-color: transparent;
  border: 1px solid var(--cor-secundaria);
  color: var(--cor-secundaria);
  border-radius: 24px;
  padding: 12px;
  width: 90%;
  font-size: 16px;
}

.pesquisar-item::placeholder {
  font-family: var(--fonte-principal);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--cor-secundaria);
  background: url(../assets/icones/Lupa.svg) no-repeat;
  background-position: 8px;
  background-size: 16px;
}
.container__imagem__lupa {
  width: 8px;
}

.container__logo {
  display: flex;
  justify-content: center;
  width: 50%;
}
.logo-jmr {
  width: 120px;
}

.container__icones {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  padding-right: 32px;
  width: 20%;
}

.container__imagem {
  width: 24px;
}

.opcoes {
  background-color: var(--cor-primaria);
  align-items: center;
  padding: 28px 0px 4px 0px;
}

.lista__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  padding-bottom: 18px;
}

.lista__menu-link {
  text-decoration: none;
  color: var(--cor-secundaria);
  font-size: 14px;
  text-transform: uppercase;
}

.lista__menu-link:hover {
  background-color: var(--cor-secundaria);
  color: var(--font-secundaria);
  padding: 4px;
  border-radius: 24px;
  transition: 0.5s;
}
