.produtos {
  background: var(--cor-terciaria);
  padding: 24px;
}

.produtos:nth-child(2) {
  background: var(--cor-primaria);
}

#produtos {
  background: var(--cor-quartenaria);
}

.produtos__titulo {
  color: var(--cor-secundaria);
  padding-bottom: 22px;
  text-align: center;
  font-size: 36px;
}

.card-produto {
  background: var(--cor-secundaria);
  border-radius: 24px;
  text-align: center;
  padding: 8px 0px;
  font-size: 18px;
  padding-bottom: 32px;
}

.texto-produtos {
  padding: 0 32px;
  font-size: 24px;
}

.preco-produtos {
  padding: 24px;
  font-size: 26px;
}

.botao-produtos {
  text-decoration: none;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-size: 14px;
  border-radius: 24px;
  padding: 14px;
  font-family: var(--fonte-secundaria);
}

.imagem-produtos {
  width: 50%;
}

.swiper-pagination2 {
  position: initial;
  margin: -8px 0px;
}

.swiper-pagination3 {
  position: initial;
  margin: 14px 0px;
}

.swiper-pagination2 > .swiper-pagination-bullet-active {
  background: var(--cor-primaria) !important;
  opacity: 1;
}

.swiper-pagination3 > .swiper-pagination-bullet-active {
  background: var(--cor-terciaria) !important;
  opacity: 1;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets,
.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -10px;
}


@media screen and (max-width: 600px) {
  .produtos__titulo {
    font-size: 20px;
  }
  .card-produto {   
    align-items: center;
    left: 32px;
  }

  .texto-produtos {
    padding: 0 12px;
    font-size: 16px;
  }
  .imagem-produtos {
    width: 60%;
  }
  .preco-produtos {
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 16px;
  }
  .botao-produtos {
    font-size: 8px;
    padding: 8px;
  }

  .swiper2, .swiper3 {
    width: 60%; 
    margin: 0 auto; 
    overflow: hidden; 
  }
 
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .produtos__titulo {
    font-size: 28px;
  }

  .texto-produtos {
    font-size: 18px;
  }

  .preco-produtos {
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: 18px;
  }
  .botao-produtos {
    font-size: 10px;
    padding: 10px;
  }
}
