.rodape {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  padding: 46px 0px;
}

.rodape__v1 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 64px;
}

.rodape__logo {
  width: 16%;
}

.lista-rodape__item {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.lista-rodape__link {
  color: var(--cor-secundaria);
  text-decoration: none;
  margin-left: 12px;
}

.lista-rodape__titulo {
  font-size: 14px;
  color: var(--cor-secundaria);
  list-style-type: none;
  padding-left: 10px;
  text-decoration: underline;
}

.rodape__titulo {
  font-size: 24px;
}

.rodape__v2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 110px;
}

.rodape__item {
  text-align: center;
}

.rodape__link {
  text-decoration: none;
}

.rodape__item img {
  width: 10%;
}

@media screen and (max-width: 600px) {
  .rodape__v1 {
    padding: 0px 0px 34px 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .lista-rodape {
    gap: 8px;
  }

  .rodape__item img {
    width: 12%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .rodape__v1 {
    padding: 0px 0px 34px 8px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .lista-rodape {
    gap: 8px;
  }

  .rodape__item img {
    width: 12%;
  }
}
